.button{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #0204ed 0.0%, #07ecf7e0 100.0%); /* Background color */
    -fx-border-color: #90EE90; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 15px; /* Border radius to create rounded corners */
    -fx-font-size: 15px; /* Font size */
    -fx-text-fill: black; /* Text color */
    -fx-cursor: hand; /* Cursor style for mouse hover */
    -fx-background-radius: 15 15 15 15
}


/* Define a hover effect for the button */
.button:hover {
    -fx-border-color: black; /* Background color on hover */
    -fx-background-radius: 30 30 30 30
}